.card {
    @apply bg-white rounded-lg dark:bg-gray-800 flex flex-1 flex-col;
}

.card-border {
    @apply border border-gray-200 dark:border-gray-600;
}

.card-shadow {
    @apply shadow border-b border-gray-200 dark:border-gray-600 dark:border-none;
}

.card-header-border {
    @apply border-b border-gray-200 dark:border-gray-600;
}

.card-header-extra {
    @apply flex justify-between items-center;
}

.card-footer {
    @apply rounded-bl-lg rounded-br-lg;
}

.card-footer-border {
    @apply border-t border-gray-200 dark:border-gray-600;
}

.card-header,
.card-footer {
    @apply py-1 px-2;
}

.card-body {
    @apply px-3 py-0 flex flex-col;
}

.card-gutterless {
    @apply p-0;
}
::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-track {
    background: #424242;
    scroll-margin-inline-end: 0;

}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
