.wizard {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    align-items: center;
    background-color: rgba(5, 148, 211, 0.04);
    max-width: 70%;
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.52), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.step.active {
    display: block;
}

.field {
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.field-key {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
    height: 60%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px azure solid;
    width: 45px;
    cursor: pointer;
    padding: 2px 5px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    background-color: azure;
}

.button-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    color: black;
    margin: 0;
}

.button:hover {
    background-color: #f0f0f0;
}

.button-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: black;
    font-weight: bold;
    border: 1px azure solid;
    width: 60px;
    cursor: pointer;
    padding: 2px 3px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: azure;
}

.button-prev:hover {
    background-color: #f0f0f0;
}


.input-text {
    border-radius: 3px;
    box-sizing: border-box;
    border: 2px solid rgb(204, 204, 204);
}

.input-key {
    width: 160%;
    height: 20px;
    border: 2px solid rgb(204, 204, 204);
    padding: 10px;
    overflow: hidden;
    font-size: 12px;
    box-sizing: border-box;
    min-height: 1em;
    max-height: 4em;
    border-radius: 3px;
}

.input-container {
    display: block;
    align-items: center;
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0.25em;
}

.text-exp {
    position: absolute;
    bottom: 110px;
    text-align: center;
    font-size: 12px;
    color: rgba(189, 212, 239, 0.75);
}

.column-field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}